[Unit]
Description=BalanSir IPC Socket
Documentation=https://github.com/balansir/balansir

[Socket]
ListenStream=/run/balansir/daemon.sock
SocketMode=0600
SocketUser=balansir
SocketGroup=balansir

[Install]
WantedBy=sockets.target
